/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root{
    --blue: #00c1b5;
    --font-size: 18px;
    --issue-width: 26.25rem;
}

/* Global Styles */
body{
    background-color: var(--blue);
    width: 100%;
    height: 100dvh;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    position: relative;
    overflow: hidden;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
}

/* Utility Classes */
.text-underline{
    text-decoration: underline;
}

.text-light{
    font-weight: 300;
}

.fs-small{
    font-size: 0.67em;
}

.fs-bold{
    font-weight: bold;
}

.d-block{
    display: block;
}

.link{
    text-decoration: underline;
    color: inherit;

    &:hover{
        text-decoration: none;
    }
}

.link-reverse{
    text-decoration: none;
    color: inherit;

    &:hover{
        text-decoration: underline;
    }
}

.active{
    font-weight: bold;
}

/* HEADER */
.header{
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    padding-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 16.25rem;
        height: 1.875rem;
    }
}

/* MAIN */
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* left: calc(50% - (var(--issue-width) / 2)); */
    text-align: center;
    z-index: 100;
    height: 100dvh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    /* Hide the scroll bar */
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
    &::-webkit-scrollbar{       /* Chrome */
        display: none;
    }
}

.issue{
    max-width: var(--issue-width);
    scroll-snap-align: start;
    margin: 0 auto;
    /* border: 1px solid crimson; */

    *:not(img){
        margin-bottom: 1em;
    }

    a{
        color: white;
        font-weight: bold;
    }

    span{
        display: block;
    }

    p{
        font-size: 0.835em;
    }

    h2{
        font-size: inherit;
    }

    .issue-image{
        width: 100%;
    }

    .buy{
        text-transform: uppercase;
    }
}

/* FOOTER */
.footer{
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .footer-description{
        max-width: 20rem;
        font-weight: bold;

        p{
            line-height: 1.385em;
        }

        .policy{
            display: block;
            margin-top: 1.5em;
        }
    }

    .footer-menu{
        line-height: 1.575em;
        z-index: 200;
    }
}